<h1> <%= @event.summary %> </h1>

<% if @event.start.date_time %>
    <% start_date_time = @event.start.date_time.to_s %>
    <% end_date_time = @event.end.date_time.to_s %>
    <% start_date_time_obj = DateTime.parse(start_date_time) %>
    <% end_date_time_obj = DateTime.parse(end_date_time) %>
    <% start_date = start_date_time_obj.strftime('%Y-%m-%d') %>
    <% start_time = start_date_time_obj.strftime('%I:%M') %>
    <% end_date = end_date_time_obj.strftime('%Y-%m-%d') %>
    <% end_time = end_date_time_obj.strftime('%I:%M') %>
    <% start_am_pm = start_date_time_obj.strftime('%p') %>
    <% end_am_pm = end_date_time_obj.strftime('%p') %>
    <div><%= @event.summary %></div>
    <div>Start Time: <%= start_date %> <%= start_time %> <%= start_am_pm %></div>
    <div>End Time: <%= end_date %> <%= end_time %> <%= end_am_pm %></div>
<% else %>
    <div><%= @event.summary %></div>
    <% if @event.start.date != @event.end.date %>
        <div> Start Date: <%= @event.start.date %></div>
        <div>End Date: <%= @event.end.date %></div>
    <% else %>
        <div> All Day: <%= @event.start.date %></div>
    <% end %>
<% end %>

<div>
    <%= link_to 'Edit Event', edit_event_url(calendar_id: @calendar_id, event_id: @event.id), class: 'edit-event-link' %>
</div>
<div>
    <%= link_to 'Delete Event', delete_event_path(calendar_id: @calendar_id, event_id: @event.id), class: 'delete-event-link' %>
</div>
<div>
    <%= link_to 'Back to Events', events_url(calendar_id: @calendar_id), class: 'back-to-events-link' %>
</div>

