<h1>Users</h1>

<table>
  <thead>
    <tr>
      <% @attributes.each do |attribute| %>
        <th><%= attribute.to_s.humanize %></th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% @attributes.each do |attribute| %>
          <td><%= user.send(attribute) %></td>
        <% end %>
        <td><%= link_to 'Show', user %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <%= link_to 'New User', new_user_path %>
<% end %>
