<h1>User Details</h1>

<% @attributes.each do |attribute| %>
  <% if attribute == :linkedin_url %>
    <p>
      <td><%= link_to image_tag('linkedin.svg', alt: 'LinkedIn', width: 24, height: 24), "https://www.linkedin.com/in/#{@user.send(attribute)}", target: '_blank' %></td>
    </p>
  <% else %>
    <p>
      <strong><%= attribute.to_s.humanize %>:</strong>
      <%= @user.send(attribute) %>
    </p>
  <% end %>
<% end %>

<h2>Projects</h2>
<% @projects.each do |project| %>
  <p><%= project.projectName %></p>
<% end %>

<% if current_user.atleast_officer? || current_user.id == @user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
