<ul class="bxslider">
   <li>
     <img src="<%= 'https://upload.wikimedia.org/wikipedia/commons/4/42/Kyle_Field_Panorama.jpg' %>" alt="<%= 'Kyle Field' %>" style="width:100%">
   </li>
   <li>
     <img src="<%= 'https://zachry.tamu.edu/wp-content/uploads/2018/08/zachry-aerial-large-1024x442.jpg' %>" alt="<%= 'Zachry' %>" style="width:100%">
   </li>
   <li>
     <img src="<%= 'https://writingcenter.tamu.edu/getmedia/b436e3f9-a685-45b0-a046-bb88eb854af3/Evans2.jpg' %>" alt="<%= 'Evans Library' %>" style="width:100%">
   </li>
 </ul>