<h1> Upcoming Events Update </h1>

<p> Here are the upcoming events for the next week: </p>

<% sorted_events = @event_list.items.sort_by do |event| %>
      <% if event.start.date_time %>
        <% DateTime.parse(event.start.date_time.to_s) %>
      <% else %>
        <% Date.parse(event.start.date.to_s) %>
      <% end %>
    <% end %>
    <% sorted_events.reject! do |event| %>
      <% event_start_date = event.start.date_time ? DateTime.parse(event.start.date_time.to_s) : Date.parse(event.start.date.to_s) %>
      <% event_start_date < Date.today || event_start_date > (Date.today + 7.days) %>
    <% end %>
<% sorted_events.each do |event| %>
        <div class="event-block">

          <% if event.start.date_time %>
            <% start_date_time = event.start.date_time.to_s %>
            <% end_date_time = event.end.date_time.to_s %>
            <% start_date_time_obj = DateTime.parse(start_date_time) %>
            <% end_date_time_obj = DateTime.parse(end_date_time) %>
            <% start_date = start_date_time_obj.strftime('%Y-%m-%d') %>
            <% start_time = start_date_time_obj.strftime('%I:%M') %>
            <% end_date = end_date_time_obj.strftime('%Y-%m-%d') %>
            <% end_time = end_date_time_obj.strftime('%I:%M') %>
            <% start_am_pm = start_date_time_obj.strftime('%p') %>
            <% end_am_pm = end_date_time_obj.strftime('%p') %>
            <div><%= event.summary %></div>
            <div>Start Time: <%= start_date %> <%= start_time %> <%= start_am_pm %></div>
            <div>End Time: <%= end_date %> <%= end_time %> <%= end_am_pm %></div>
          <% else %>
            <div><%= event.summary %></div>
            <% if event.start.date != event.end.date %>
              <div> Start Date: <%= event.start.date %></div>
              <div>End Date: <%= event.end.date %></div>
            <% else %>
              <div> Date: <%= event.start.date %></div>
            <% end %>
          <% end %>
          </div>
        <% end %>
