<%= stylesheet_link_tag "project_view", media: "all"%>

<div class="project-form">

  <div class="form">
    <%= form_with(model: project) do |form| %>
      <% if project.errors.any? %>
        <div class="flash alert", style="width:100%;  box-sizing: border-box;">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
          <ul>
            <% project.errors.each do |error| %>
              <li style="text-align: left"><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <table class="form_table">
          <tr>
            <th class = "form_th"> <%= form.label :projectName, "Project Name", style: "text-align: left; display: block; padding-left: 10px" %> </th>
            <td> <%= form.text_field :projectName, style: "width: 100%; box-sizing: border-box" %> </td>
          </tr>

          <tr>
            <th class = "form_th"> <%= form.label :projectDesc, "Project Description", style: "text-align: left; display: block; padding-left: 10px" %> </th>
            <td> <%= form.text_area :projectDesc, rows: 8, cols: 80, style: "width: 100%; box-sizing: border-box" %> </td>
          </tr>

          <tr>
            <th class = "form_th"> <%= form.label :locationID, "Location ID", style: "text-align: left; display: block; padding-left: 10px" %> </th>
            <td> <%= form.select :locationID, Location.all.collect { |l| [l.state + ", " + l.country, l.id]}, include_blank: "Please Assign a Location" %> </td>
          </tr>

          <tr>
            <th class = "form_th"> <%= form.label :projectStartDate, "Project Start Date", style: "text-align: left; display: block; padding-left: 10px" %> </th>
            <td> <%= form.date_field :projectStartDate %> </td>
          </tr>

          <tr>
            <th class = "form_th"> <%= form.label :isProjectActive, "Is the Project Active?", style: "text-align: left; display: block; padding-left: 10px" %> </th>
            <td> <%= form.check_box :isProjectActive %> </td>
          </tr>

          <tr>
            <th class = "form_th"> <%= form.label :markdownBody, "Markdown Body", style: "text-align: left; display: block; padding-left: 10px;" %> </th>
            <td> <%= form.text_area :markdownBody, rows: 16, cols: 80, id: "markdown_body", style: "width: 100%; box-sizing: border-box" %> </td>
          </tr>
      </table>

        <div>
            <%= form.submit %>
        </div>

    <% end %>

  </div>

  <div class="preview">
    <h2> Markdown Preview </h2>
    <div id="markdown_preview" style="border: 1px solid #ddd; padding: 10px; margin-top: 20px;">
      <!-- Live preview will be shown here -->
    </div>
  </div>

</div>
