<%= stylesheet_link_tag "project_view", media: "all"%>

<div class="project-form">

  <div class="form">
    <%= form_with(model: project) do |form| %>
      <% if project.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% project.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :projectName, "Project Name", style: "display: block" %>
        <%= form.text_field :projectName %>
      </div>

      <div>
        <%= form.label :projectDesc, "Project Description", style: "display: block" %>
        <%= form.text_area :projectDesc, rows: 8, cols: 80 %>
      </div>

      <div>
        <%= form.label :locationID, "Location ID", style: "display: block" %>
        <%= form.select :locationID, Location.all.collect { |l| [l.state + ", " + l.country, l.id]}, include_blank: "Please Assign a Location" %>
      </div>

      <div>
        <%= form.label :projectStartDate, "Project Start Date", style: "display: block" %>
        <%= form.date_field :projectStartDate %>
      </div>

      <div>
        <%= form.label :isProjectActive, "Is the Project Active?", style: "display: block" %>
        <%= form.check_box :isProjectActive %>
      </div>

      <div>
        <%= form.label :markdownBody, "Markdown Body", style: "display: block" %>
        <%= form.text_area :markdownBody, rows: 16, cols: 80, id: "markdown_body" %>
      </div>

      <div>
        <%= form.submit %>
      </div>

    <% end %>

  </div>

  <div class="preview">
    <h2> Markdown Preview </h2>
    <div id="markdown_preview" style="border: 1px solid #ddd; padding: 10px; margin-top: 20px;">
      <!-- Live preview will be shown here -->
    </div>
  </div>

</div>
