<div id="<%= dom_id project %>">
  <p>
    <strong>Projectname:</strong>
    <%= project.projectName %>
  </p>

  <p>
    <strong>Projectdesc:</strong>
    <%= project.projectDesc %>
  </p>

  <p>
    <strong>Locationid:</strong>
    <%= project.locationID %>
  </p>

  <p>
    <strong>Projectstartdate:</strong>
    <%= project.projectStartDate %>
  </p>

  <p>
    <strong>Isprojectactive:</strong>
    <%= project.isProjectActive %>
  </p>

</div>
