<%= stylesheet_link_tag "project_view", media: "all"%>
  <p style="color: green"><%= notice %></p>

<div class="show-project">

  <div class = "project-view-header">
    <h1> <%= @project.projectName %> </h1>
    <h2> <%= @project.projectStartDate %> </h2>
  </div>

  <div class="project-view-gallery">
    <%= render 'shared/slideshow' %>
  </div>

  <div class="project-view-body">
    <p> <%= @html_output %> </p>

    <hr>

    <div class = "project-actions">

      <%= link_to("Edit this Project", edit_project_path(@project)) %>

      <%= link_to("Delete this Project", delete_project_path(@project)) %>

      <%= link_to("View other Projects", projects_path) %>

    </div>

  </div>

</div>
