<p style="color: green"><%= notice %></p>

<div class = "project-view-header">
  <h1> <%= @project.projectName %> </h1>
  <p> <%= @project.projectStartDate %> </p>
</div>

<div class="project-view-body">

  <gallery>
    <p> Image gallery goes here. </p>
  </gallery>

  <p> <%= @html_output %> </p>

  <div class = "project-actions">
  <%= link_to("Edit this Project", edit_project_path(@project)) %>

  <%= link_to("Delete this Project", delete_project_path(@project)) %>

  <%= link_to("View other Projects", projects_path) %>
  </div>

</div>
