<%= stylesheet_link_tag "project_view", media: "all"%>
<script src="https://cdn.jsdelivr.net/npm/marked@4.3.0/marked.min.js"></script>

  <p style="color: green"><%= notice %></p>

<div class="show-project">

  <div class = "project-view-header">
    <h1> <%= @project.projectName %> </h1>
    <h2> <%= @project.projectStartDate %> </h2>
  </div>

  <div class="project-view-gallery">
    <%= render 'shared/slideshow', photos: @photos %>
  </div>

  <div class="project-view-body">
    <div id='markdownBody'>
      <!-- markdown will be be shown here -->
    </div>

    <script>
      marked.setOptions({
      gfm: true,
      breaks: true,
      smartLists: true,
      smartypants: true,
      });

      const projectMarkdown = <%= @project.markdownBody.to_json.html_safe %>;
      console.log("Project Markdown: ", projectMarkdown);
      const markdown = marked.parse(projectMarkdown);
      document.getElementById('markdownBody').innerHTML = markdown;
    </script>

    <hr>

    <div class = "project-actions">

      <% if current_user %>
        <% if current_user.admin? %>
          <%= link_to("Edit this Project", edit_project_path(@project)) %>

          <%= link_to("Delete this Project", delete_project_path(@project)) %>

          <%= link_to("View other Projects", projects_path) %>
        <% end %>
      <% else %>
        <%= link_to("View other Projects", projects_path) %>
      <% end %>

    </div>

  </div>

</div>
