<p style="color: green"><%= notice %></p>

<div>
  <body>
    <header>
      <h1> <%= @project.projectName %> </h1>
      <p> <%= @project.projectStartDate %> </p>
    </header>

    <gallery>
      <p> Image gallery goes here. </p>
    </gallery>

    <summary>
      <h1> PROJECT INFO </h1>
      <div>
        <p> Body of the page goes here. </p>
      </div>

    </summary>

    <actions>
    <%= link_to("Edit this Project", edit_project_path(@project)) %>

    <%= link_to("Delete this Project", delete_project_path(@project)) %>

    <%= link_to("View other Projects", projects_path) %>
    </actions>

  </body>

</div>
