<p id="notice"><%= notice %></p>

<div class="sponsorships-index">
    <h1>Sponsorships</h1>

    <%= button_to 'New Sponsorship', new_sponsorship_path, method: :get, class: 'btn' %>

    <table>
        <thead>
            <tr>
                <th>Sponsor</th>
                <th colspan="1"></th>
            </tr>
        </thead>

        <tbody>
            <% @sponsorships.each do |sponsorship| %>
                <tr>
                    <td><%= sponsorship.sponsor_name %></td>
                    <td><%= button_to 'Show', sponsorship, method: :get, class: 'btn show-btn' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= button_to 'Donate', 'https://support.ewb-usa.org/give/565525/#!/donation/checkout', method: :get, target: '_blank', class: 'btn donate-btn' %>

    <p>For long-term impact, consider contributing to the EWB Endowment:<p>
    <p>popham@tamu.edu</p>

    <div class="sponsorship-embed">
        <embed src="<%= asset_path('EWB_2024_Sponsorship_Packet.pdf') %>" width="600" height="500" type="application/pdf">
    </div>
</div>
