<h1>Photos</h1>

<table class="table-photos">
  <thead>
    <tr>
      <th>Photo Link</th>
      <th>Description</th>
      <th>Type</th>
      <th>Page Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><a href="<%= photo.photoLink %>" target="_blank"><%= truncate(photo.photoLink, length: 30) %></a></td>
        <td><%= photo.photoDescription %></td>
        <td><%= photo.photoType %></td>
        <td><%= photo.photoPageLocation %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Delete', delete_photo_path(photo), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Photo', new_photo_path, class: 'new-photo' %>
