<h1>Photos</h1>

<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<table class="table-photos">
  <thead>
    <tr>
      <th>Photo Link</th>
      <th>Description</th>
      <th>In home gallery?</th>
      <th>Associated Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><a href="<%= photo.url %>" target="_blank"><%= truncate(photo.url, length: 30) %></a></td>
        <td><%= photo.description %></td>
        <td><%= photo.displayed_in_home_gallery %></td>
        <td>
          <% if photo.project_id %>
            <%= Project.find(photo.project_id).projectName %>
          <% else %>
            None
          <% end %>
        </td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Delete', delete_photo_path(photo), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Photo', new_photo_path, class: 'new-photo' %>
