<h1>Photo Details</h1>

<p>
  <strong>Image:</strong><br>
    <!--TODO need top make this size limited-->
  <%= image_tag(@photo.url, alt: @photo.photo_description) %>
</p>

<p>
    <strong>Link:</strong>
    <%= link_to truncate(@photo.url, length: 30), "#{@photo.url}", target: '_blank' %>
</p>

<p>
    <strong>Description:</strong>
    <%= @photo.photo_description %>
</p>

<p>
    <strong>Type:</strong>
    <%= @photo.photo_type %>
</p>

<p>
    <strong>Page Location:</strong>
    <%= @photo.photoPageLocation %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
