<h1> Send Active Members Email </h1>

<h2> This email is send to all members who have their graduation date set to a future date. </h2>

<div class="email-container">
    <%= form_with url: send_active_member_email_path, method: :post, local: true do |form| %>
        <div class="field email-header">
            <%= form.label :subject, "Subject:" %>
            <%= form.text_field :subject, class: 'email-header input' %>
        </div>

        <div class="field email-body">
            <%= form.label :message, "Body:" %>
            <%= form.text_area :message, class: 'email-body textarea' %>
        </div>

        <div class="actions">
            <%= form.submit "Send", class: 'send-button' %>
        </div>
    <% end %>
    <div class="actions">
        <%= link_to 'Back to Emails', email_path, class: 'back-button' %>
    </div>
</div>
