<h1>Are you sure you want to delete this location?</h1>

<p>
    <strong>Address:</strong> <%= @location.address %><br>
    <strong>City:</strong> <%= @location.city %><br>
    <strong>State:</strong> <%= @location.state %><br>
    <strong>Zip Code:</strong> <%= @location.zip_code %><br>
    <strong>Country:</strong> <%= @location.country %>
</p>

<%= form_with url: location_path(@location), method: :delete, local: true do %>
    <div class="actions">
        <%= submit_tag 'Delete Location', data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Cancel', locations_path %>
    </div>
<% end %>
